body {
  /* background: linear-gradient(262deg, #ff7854, #fd267d); */
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
